@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    height: 100vh;
    font-family: 'Irish Grover', cursive;
    background-image: url(../img/bg.jpg);
    background-repeat: repeat-x;
    background-position: top center;
    background-size: contain;
}

h2{
    background: #C4C4C4;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 45px;
    border: 5px solid rgba(33, 104, 5, 0);
}

a{
    text-decoration: none;
    color: black;
}

header a{
    display: flex;
    justify-content: center;
}

header .headerImg img{
    width: 40%;
}

.mainContainer{
    display: flex;
    justify-content: space-around;
    padding: 0 300px;
    margin: 0 100px;
}

.mainContainer .card{
    display: flex;
    flex-direction: column;
}

.card img{
    height: 200px;
    width: 220px;
    margin-bottom: 50px;
    transition: all .5s;
    border-radius: 35px;
    border: 5px solid rgba(27, 88, 2, 0)
}

.card img:hover{
    border: 5px solid rgb(33, 104, 5);
}

/* video containers */

.videoContainer{
    display: flex;
    justify-content: center;
}

/* Seasons section */

.videoWrapper{
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
}

.seasonLinks{
    width: 20%;
}

.active{
    border: 5px solid rgb(33, 104, 5);
}



